TELEGRAM_TOKEN=your_token
ETHERSCAN_API_KEY=your_api_key
UPDATE_THRESHOLD=5
LOG_LEVEL=DEBUG
LOG_FORMAT="%(asctime)s %(levelprefix)s %(message)s"
LOG_DATE_FORMAT="%Y-%m-%d %H:%M:%S"
CLOUD_PROVIDER=AWS
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
