TELEGRAM_TOKEN=your_token
ETHERSCAN_API_KEY=your_api_key
INFURA_API_KEY=your_key
AWS_ACCESS_KEY_ID=your_key_id
AWS_SECRET_ACCESS_KEY=your_access_key
UPDATE_THRESHOLD=5
LOG_LEVEL=DEBUG
LOG_FORMAT="%(asctime)s %(levelprefix)s %(message)s"
LOG_DATE_FORMAT="%Y-%m-%d %H:%M:%S"
